body {
    background-color: lightblue;
  }
     li {
            list-style-type: square;
            margin: 10px;
            color:yellow;
          }
      }
      a {
        font-weight: bold;
      }
      }      }